*{
    background-color: #3D3B30;
}

.user-input {
    display: flex;
    flex-direction: column;
    margin:0;
    align-items: center;
    flex-wrap: wrap;

}
#note {
    color: #3D3B30;
    background-color: #E9EDDE;
    margin:1%;
    height: 300px;
    width: 70%;
    padding: 20px 20px;
    font-size: 15px;
    /* border-radius: 5px; */
}
#password {
    color: #3D3B30;
    background-color: #E9EDDE;
    height: 15px;
    width:30%;
    padding: 10px 10px;
    margin:1%;
    font-size: 15px;
    /* border-radius: 5px; */
}
#submit {
    color: #3D3B30;
    background-color: #E9EDDE;
    padding: 10px 20px;
    font-size: 15px;
    margin:1%;
    cursor:pointer;
    border-radius: 5px;
}
#submit:hover{
    color: #3D3B30;
    background-color: #E7E247;
}